NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_INCIDENT_EXPORT=

NEXT_PUBLIC_MAP_STYLE_URL=https://demotiles.maplibre.org/style.json
INSEE_API_KEY=
